@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Login</h1>

<form method="post" action="login" method="post">
    <table>
        <tr>
            <td>
                <label for="username">Username:</label>
            </td>
            <td>
                <input type="text" id="username" name="username" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password:</label>
            </td>
            <td>
                <input type="password" id="password" name="password" required>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">Login</button>

                <br />
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
            </td>
            <td></td>
        </tr>
    </table>
</form>
