@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>SE1735, Group 2:</p>
<p>Nguyễn Xuân Phi</p>
<p>Trần Anh Đức</p>
<p>Nguyễn Trung Hiếu</p>
<p>Lê Đức Huy</p>
<p>Nguyễn Trường An</p>
